@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: cam --default;
}

@plugin "daisyui/theme" {
  name: "cam";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(20% 0.042 265.755);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(96% 0.007 247.896);
  --color-secondary-content: oklch(20% 0.042 265.755);
  --color-accent: oklch(96% 0.007 247.896);
  --color-accent-content: oklch(20% 0.042 265.755);
  --color-neutral: oklch(96% 0.007 247.896);
  --color-neutral-content: oklch(20% 0.042 265.755);
  --color-info: oklch(90% 0.058 230.902);
  --color-info-content: oklch(44% 0.11 240.79);
  --color-success: oklch(90% 0.093 164.15);
  --color-success-content: oklch(43% 0.095 166.913);
  --color-warning: oklch(94% 0.129 101.54);
  --color-warning-content: oklch(47% 0.114 61.907);
  --color-error: oklch(89% 0.058 10.001);
  --color-error-content: oklch(45% 0.188 13.697);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

html {
  font-family: "Inter", sans-serif;
}